/* PC */
@media screen and (min-width: 992px) {
    .toggle-menu {
        display: none;
    }

    .mobile-header {
        display: none;
    }

    .show-on-tablet {
        display: none;
    }

    .view-all .show-on-mobile {
        display: none;
    }
}

/* Tablet & Mobile */
@media screen and (max-width: 991px) {
    .navbar {
        position: relative;
    }

    .navbar img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .navbar ul {
        display: none;
    }

    .toggle-menu .fa-solid.fa-bars {
        font-size: 28px;
        color: #666;
    }

    .menu-overlay {
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s ease;
    }

    .menu-drawer {
        position: fixed;
        inset: 0 40% 0 0;
        background-color: #fff;
        z-index: 2;
        transform: translateX(-100%);
        transition: 0.5s ease;
        padding: 60px;
    }

    .menu-drawer ul {
        margin-top: 32px;
    }

    .menu-drawer ul a {
        font-weight: 500;
        display: block;
        padding: 14px 0;
        color: #333;
    }

    .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);
    }

    .separate {
        border-top: 1.5px solid #ebebeb;
    }

    .hero-img {
        display: none;
    }

    .hero-wrap .info {
        width: 80%;
        text-align: center;
        margin: 0 auto;
    }

    .hero-wrap .desc {
        width: 80%;
        margin: 30px auto auto;
    }

    .clients .images {
        flex-wrap: wrap;
        justify-content: center;
    }

    .featured .list {
        grid-template-columns: repeat(2, 1fr);
    }

    .stats .row {
        flex-direction: column;
    }

    .stats .img-block,
    .stats .info {
        width: 100%;
    }

    .stats .info {
        padding: 0;
        order: 1;
    }

    .stats .img-block {
        order: 2;
        margin-top: 80px;
    }

    .stats .subtitle {
        width: 65%;
    }

    .stats .info .desc {
        width: 100%;
    }

    .stats .row-qty {
        flex-direction: row;
    }

    .qty-item .qty {
        font-size: 5rem;
    }

    .qty-item .qty-desc {
        font-size: 1.5rem;
    }

    .subscription .image {
        display: none;
    }

    .footer .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 80px;
    }

    .footer .column {
        width: 100%;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .show-on-tablet {
        display: none;
    }

    .view-all .show-on-mobile {
        display: none;
    }
}

/* Mobile */
@media screen and (max-width: 767px) {
    .hide-on-mobile {
        display: none;
    }

    .menu-drawer {
        padding: 40px;
        inset: 0 25% 0 0;
    }

    .navbar .actions {
        display: none;
    }

    .hero-wrap .title {
        margin-top: 20px;
        font-size: 5.2rem;
    }

    .hero-wrap .desc {
        width: 100%;
    }

    .clients .images {
        row-gap: 20px;
    }

    .list-guide {
        flex-direction: column;
        row-gap: 20px;
    }

    .guide-cta {
        margin-top: 60px;
    }

    .featured .link {
        display: none;
    }

    .featured .list {
        grid-template-columns: 1fr;
    }

    .view-all .show-on-mobile {
        display: block;
        margin-top: 60px;
        text-align: center;
    }

    .stats .subtitle {
        width: 100%;
    }

    .stats .img-block .image {
        width: 100%;
    }

    .stats .img-block .stats-trend {
        top: 20px;
        left: 20px;
        border-radius: 12px;
    }

    .stats .row-qty {
        flex-direction: column;
        align-items: center;
        row-gap: 60px;
    }

    .subscription .info {
        padding: 16px;
    }

    .subscription .body {
        height: auto;
    }

    .footer .row {
        grid-template-columns: 1fr;
    }

    .footer .column {
        text-align: center;
    }

    .footer .copyright {
        margin-top: -50px;
    }

    .featured .subtitle {
        font-size: 3.2rem;
    }

    .featured .item .label {
        font-size: 1.3rem;
    }
}
