* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0f1b4c;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */

a {
    text-decoration: none;
}

.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    min-width: 98px;
    border-radius: 12px;
    background: var(--primary-color);
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    display: inline-block;
    padding: 18px 16px;
}

.btn:hover {
    opacity: 0.9;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
}

/*=====  Header  =====*/

.fixed-header {
    background-color: #e6f0ff;
    padding-top: 26px;
    position: sticky;
    top: -26px;
    z-index: 1;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 12px 0;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar .actions {
    margin-left: auto;
}

.navbar ul a {
    font-size: 1.4rem;
    font-weight: 500;
    color: #4f5361;
    padding: 8px 14px;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.navbar .action-link {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 500;
    padding: 13px 16px;
}

.navbar .action-btn {
    padding: 13px 16px;
    margin-left: 5px;
    border-radius: 8px;
}

.hero-wrap {
    background-color: #e6f0ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 730px;
    position: relative;
}

.hero-wrap .info {
    width: 51%;
}

.hero-wrap .subtitle {
    color: #687690;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.018rem;
}

.hero-wrap .title {
    margin-top: 8px;
    color: #000336;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 7.6rem;
}

.hero-wrap .desc {
    margin-top: 30px;
    color: #5a6473;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.2rem;
}

.hero-wrap .hero-cta {
    min-width: 170px;
    margin-top: 40px;
}

.hero-wrap .hero-img {
    position: absolute;
    bottom: 0;
    right: calc((100vw - 1110px) / 2 - 100px);
}

/*=====  Clients  =====*/

.clients {
    margin-top: 79px;
    padding: 43px 0 41px;
}

.clients .row {
    display: flex;
    justify-content: space-between;
}

.clients .row .desc {
    color: #7d8589;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2rem;
}

.clients .row-desc {
    margin-top: 23px;
}

.clients .images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

.clients .images img {
    width: 20.4rem;
    height: 9.1rem;
    padding: 0 40px;
}

.clients .images img:hover {
    border-radius: 12px;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);
    transform: translateY(-10px);
}

/*=====  Guides  =====*/

.guides {
    margin-top: 40px;
    padding: 89px 0 79px;
}

.guides .subtitle {
    color: #000339;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 3.5rem;
    position: relative;
}

.guides .subtitle::before {
    content: "";
    display: inline-block;
    width: 4.1rem;
    height: 0.4rem;
    border-radius: 1.2rem;
    background: #000339;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.guides .desc {
    color: #5a6473;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem;
    width: 459px;
    max-width: 100%;
    margin: 20px auto 0;
}

.list-guide {
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
}

.list-guide .guide-item {
    text-align: center;
}

.guide-item .title {
    color: #3b3c45;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.2rem;
    margin-top: 26px;
}

.guide-item .link {
    margin-top: 10px;
    display: inline-block;
}

.guide-item .link span {
    color: #0689ff;
    font-size: 1.4rem;
    font-weight: 600;
}

.guide-item .link .arrow {
    margin-left: 6px;
}

.guide-cta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.guide-cta .btn {
    min-width: 170px;
}

/*=====  Featured properties =====*/

.featured {
    margin-top: 41px;
    padding: 110px 0;
    background-color: #f5fafe;
}

.featured .subtitle {
    color: #000339;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.5rem;
}

.featured .row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.featured .desc {
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem;
}

.featured .link {
    color: #0689ff;
    font-size: 1.8rem;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.featured .link img {
    margin-left: 6px;
}

.featured .list {
    margin-top: 70px;
    gap: 30px;
    display: flex;
}

.featured .item {
    flex: 1;
    background-color: #fff;
    border-radius: 12px;
}

.featured .item .thumb {
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.featured .item .body {
    padding: 17px 20px 24px;
}

.featured .item .title a {
    color: #000339;
    font-size: 2rem;
    font-weight: 600;
    line-height: 3rem;
}

.featured .item .desc {
    margin-top: 11px;
    color: #a3a6ab;
    font-size: 1.4rem;
    font-weight: 500;
}

.featured .item .info {
    display: flex;
    align-items: center;
    margin-top: 21px;
}

.featured .item .icon {
    margin-left: 23px;
}

.featured .item .icon:first-child {
    margin-left: 0;
}

.featured .item .label {
    color: #444;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.4rem;
    margin-left: 8px;
}

/*=====  Stats =====*/

.stats {
    margin-top: 75px;
    padding: 50px 0;
}

.stats .row {
    display: flex;
}

.stats .content {
    width: 1017px;
}

.stats .img-block,
.stats .info {
    width: 50%;
}

.stats .img-block {
    position: relative;
}

.stats .img-block .image {
    width: 400px;
    height: 460px;
    object-fit: cover;
    border-radius: 12px;
    margin-left: auto;
    display: block;
}

.stats .img-block .stats-trend {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 239px;
    border-radius: 0rem 0rem 1.2rem 1.2rem;
    padding: 45px 22px 40px;
}

.stats .img-block .value {
    margin-right: auto;
    color: #000339;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 2.6rem;
    letter-spacing: 0.026rem;
}

.stats .img-block .icon {
    margin-left: auto;
}

.stats .img-block .desc {
    margin-top: 8px;
    color: #a7a7a7;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.8rem;
}

.stats .img-block .separate {
    height: 0.12rem;
    background: #e9e9e9;
    margin-top: 25.5px;
}

.stats .avatar-block {
    margin-top: 26px;
    display: flex;
    flex-wrap: wrap;
    gap: 14px 16px;
}

.stats .avatar-block .avatar-group {
    display: flex;
}

.stats .avatar-group .avatar {
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -3px;
    background-color: var(--bg-color-no-avatar, #fff);
    color: #fff;
    text-align: center;
    line-height: 16px;
    font-family: "Circular Std";
    font-size: 0.7261rem;
    font-weight: 450;
    letter-spacing: -0.0145rem;
    font-family: "Circular Std";
}

.stats .avatar-group .avatar:first-child {
    margin-left: 0;
}

.stats .info {
    padding: 79px 0 0 165px;
}

.stats .subtitle {
    position: relative;
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 4.5rem;
    width: 269px;
}

.stats .subtitle::before {
    position: absolute;
    left: 0;
    top: -10px;
    content: "";
    display: block;
    border-radius: 1.2rem;
    background: #000339;
    width: 4.1rem;
    height: 0.4rem;
}

.stats .info .desc {
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem;
    margin-top: 20px;
    width: 309px;
}

.row-qty {
    margin-top: 110px;
    padding: 0 33px 0 0;
    justify-content: space-between;
}

.qty-item .qty {
    color: #000;
    font-size: 6.4rem;
    font-weight: 600;
    line-height: 6.4rem; /* 100% */
}

.qty-item .qty-desc {
    color: #7b8087;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: normal;
    margin-top: 24px;
}

/*=====  Subscripttion =====*/

.subscription {
    margin-top: 90px;
}

.subscription .body {
    border-radius: 2rem;
    background: #063183;
    height: 370px;
    display: flex;
    align-items: center;
    position: relative;
}

.subscription .info {
    padding: 80px;
    width: 670px;
}

.subscription .subtitle {
    color: #fff;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 5.2rem; /* 100% */
}

.subscription .desc {
    margin-top: 15px;
    color: #fff;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem; /* 187.5% */
}

.subscription .btn-subscribe {
    min-width: 151px;
    margin-top: 20px;
    background: #fff;
    color: #002366;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
}

.subscription .image {
    position: absolute;
    bottom: 0;
    right: 20%;
}

/*=====  Footer =====*/

.footer {
    margin-top: 55px;
    padding: 50px 0 58px;
}

.footer .row {
    display: flex;
    justify-content: space-between;
}

.footer .row-top {
    gap: 18.5px;
}

.footer .column {
    width: 25%;
}

.footer .heading {
    color: #1c1c1d;
    font-family: "Lato", sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

.footer .list,
.footer .desc {
    margin-top: 42px;
}

.footer .item {
    margin-top: 21px;
}

.footer .item a {
    color: #7a7a7e;
    font-size: 1.6rem;
    font-weight: 400;
    white-space: nowrap;
}

.footer .item .desc {
    color: #7a7a7e;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.8rem; /* 175% */
}

.footer .column .desc {
    color: #7a7a7e;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.8rem; /* 175% */
}

.footer .social {
    margin-top: 40px;
    display: flex;
    gap: 16px;
}

.footer .social .social-link {
    display: inline-block;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
    border-radius: 3px;
}

.footer .social .social-link:hover {
    background-color: #ebebeb;
}

.footer .row-bottom {
    margin-top: 81px;
    align-items: center;
}

.footer .copyright {
    color: #c2c2c2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: normal;
}
